__pycache__/
package/
Anarya_package/
posterior_samples/
scripts/lambda_curve_fitting/results/
scripts/lambda_curve_fitting/H4_bestfit/
scripts/lambda_curve_fitting/Analysis/OG_SLY_results_comparison/
old_files/parameter_test_files/test_data/
old_files/parameter_files/data/1d_runs/
old_files/parameter_files/data/varying_fixed_parameters/

