package/

year3/simulations/
year3/LSAMP_Poster/anaryaShare/Files/
year3/bilby_package/
year3/BF_dif_waveforms/Files/
year3/GW170817_prior_L1L2/alpha_attempt_unsucessful/anarya.ray
year3/GW170817_prior_L1L2/alpha_attempt_unsucessful/outdir
year3/GW170817_prior_L1L2/CIT_attempt_successful
year3/share2D3DBF/
year3/PhenomTaylorCompare/reweightPriorWork/
year3/PhenomTaylorCompare/__pycache__
year3/PhenomTaylorCompare/plots/difPriors/data/
year3/PhenomTaylorCompare/plots/2D3D_100trials/data/
year3/PhenomTaylorCompare/plots/2D3D_1000trials/data/
year3/PhenomTaylorCompare/plots/postSourceTest_2D3D_1000trials/data/
year3/PhenomTaylorCompare/sharePEwithAnarya/
year3/lastStretch/plots/data/
year3/lastStretch/files/

year2/bilby_runs/3dkde_studies/ 
year2/bilby_runs/.distance_marginalization_lookup.npz
year2/bilby_runs/simulations/
year2/bilby_runs/jason_driver_dir/share/
year2/bilby_runs/testing_bilby/
year2/parametric_tests/posterior_samples/
year2/parametric_tests/__pycache__/
year2/parametric_tests/files/runs/
year2/parametric_tests/error_tests/files/runs/
year2/parametric_tests/error_tests/files/combined/
year2/parametric_tests/error_tests/files/safekeeping/
year2/parametric_tests/error_tests/__pycache__/
year2/compare_GWXtreme/posterior_samples/
year2/compare_GWXtreme/comparison_files/MRK/
year2/compare_GWXtreme/comparison_files/ML/
year2/compare_GWXtreme/__pycache__/
year2/running_driver/files/
year2/running_driver/anarya_random_spectral/
year2/running_driver/valid_art_pop_piecewise2.txt

year1/scripts/lambda_curve_fitting/results/
year1/scripts/lambda_curve_fitting/H4_bestfit/
year1/scripts/lambda_curve_fitting/Analysis/OG_SLY_results_comparison/
year1/scripts/lambda_curve_fitting/posterior_samples/
year1/old_files/fake_posteriors/
year1/old_files/parameter_test_files/test_data/
year1/old_files/parameter_files/data/

./.gitignore
